.venv/
__pycache__/
*.py[cod]

runs/*
!runs/.gitkeep

datasets/
weights/

models/*
!models/.gitkeep

data/images/**
!data/images/
!data/images/train/
!data/images/val/
!data/images/test/
!data/images/train/.gitkeep
!data/images/val/.gitkeep
!data/images/test/.gitkeep
data/labels/**
!data/labels/
!data/labels/train/
!data/labels/val/
!data/labels/train/.gitkeep
!data/labels/val/.gitkeep

*.pt
*.onnx
*.torchscript
*.engine
